[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glbinding"]
	path = dependencies/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "dependencies/SOIL"]
	path = dependencies/SOIL
	url = https://github.com/paralin/soil.git
[submodule "dependencies/DevIL"]
	path = dependencies/DevIL
	url = https://github.com/DentonW/DevIL
[submodule "dependencies/soil"]
	path = dependencies/soil
	url = https://github.com/paralin/soil.git
[submodule "dependencies/aperutils"]
	path = dependencies/aperutils
	url = https://github.com/AperEntertainment/AperUtils.git
