[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glbinding"]
	path = dependencies/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "dependencies/SOIL"]
	path = dependencies/SOIL
	url = https://github.com/paralin/soil.git
